.App {
  text-align: center;
  background-color: #FFFFFF;
  /* min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center; */
  font-size: calc(12px + 2vmin);
  color: #000000;
}

.Result-Table,
.MuiDataGrid-columnHeaders {
  /* margin: 2em; */
  background-color: #606f740f;
  font-size: calc(8px + 2vmin);
  color: #FFFFFF;
  opacity: 85%;
}

/* .MuiListItemButton-root {
  background-color: #E09F3E;
  color: #FFFFFF;
  font-size: calc(7px + 1vmin);
} */


.MuiDataGrid-row:nth-child(odd) {
  background-color: #ffffff;
}

.MuiDataGrid-row:nth-child(even) {
  background-color: #ffffff;
}

.MuiDataGrid-cellContent,
.MuiTablePagination-displayedRows,
.MuiDataGrid-columnHeaderTitle,
.MuiSvgIcon-root,
.MuiDataGrid-selectedRowCount {
  color: #000000;
  font-size: calc(6px + 1vmin);
}

.page {
  flex-direction: row;
  display: flex;
  
}

.navContainer {
  background-color: #f9fafb;
  width: 15vw;
  height: 100vh;
  font-weight: 600;
  color: #98a5b3;
  
}

.MuiList-root .MuiButtonBase-root {
  height:9vh; /*TODO Math to max page, remember btn borders exist*/
  font-size: calc(7px + 1vmin);
  color: #98a5b3;
  border-right: #dee3e8;
  border-right-style: dashed;
  border-right-width: 1px;  
}

.Header,
.headerContent {
  width: 85vw;
  justify-content: left;
  height: 5vh;
  display: block;
  clear: both;
  background-color: #606f7425;
  font-size: calc(8px + 2vmin);
}

.Outlet,
.content {
  overflow-y: auto;
  width: 85vw;
  height: 95vh;
  position: fixed;
  right: 0px;
  bottom: 0px;
  display: block;
}

.landContent {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}


.landing {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
}

.Container {
  height: 95vh;
}

.bodyFlip {
  width: 85vw;
  display : inline-block;
  

}

.MuiGrid-container {
  justify-content: center;
}

.MuiList-root {
  height:25vh;
  
}

.MuiList-root .MuiMenuItem-root {
  height:4vh;
}