.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Result-Table,
.MuiDataGrid-columnHeaders {
  background-color: #1976d2;
  font-size: calc(8px + 2vmin);
  color: #FFFFFF;
  width: 70vw;
  opacity: 85%;
}

.MuiListItemButton-root {
  background-color: #1976d2;
  color: #FFFFFF;
  font-size: calc(6px + 1vmin);

}

.MuiDataGrid-row:nth-child(odd) {
  margin-left: 30px;
  padding: 0px;
  background-color: #10477e;
}

.MuiDataGrid-row:nth-child(even) {
  background-color: #135ca5;
}

.MuiDataGrid-cellContent,
.MuiTablePagination-displayedRows,
.MuiDataGrid-columnHeaderTitle,
.MuiSvgIcon-root,
.MuiDataGrid-selectedRowCount {
  color: #FFFFFF;
  font-size: calc(6px + 1vmin);
}