.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Result-Table {
  background-color: #222222;
  font-size: calc(8px + 2vmin);
  color: #FFFFFF;
  width: 70vw;
  opacity: 85%;
}

.MuiDataGrid-columnHeaders {
  background-color: #1976d2;
}

.MuiDataGrid-row:nth-child(odd){
  background-color: #1976d2b2;
}

.MuiDataGrid-row:nth-child(even){
  background-color: #1976d263;
}

.MuiDataGrid-cellContent, .MuiTablePagination-displayedRows,
.MuiDataGrid-columnHeaderTitle, .MuiSvgIcon-root, .MuiDataGrid-selectedRowCount {
  color: #FFFFFF;
  font-size: calc(6px + 1vmin);
}